# Docker Hub
DOCKER_USERNAME=your_dockerhub_username

# Django
SECRET_KEY=django-insecure-production-key-change-me
DEBUG=False
ALLOWED_HOSTS=foodgram.example.org,localhost,127.0.0.1

# PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=foodgram
DB_USER=foodgram_user
DB_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432

# PostgreSQL for db service
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
